business-core-backend/.vscode/NEWLY_CREATED_BY_SPRING_INITIALIZR
business-core-backend/target/test-classes/fr/upec/episen/epigreen/business_core_backend/BusinessCoreBackendApplicationTests.class
business-core-backend/HELP.md
